-i https://pypi.org/simple
attrs==22.1.0
automat==22.10.0
bytesbufio==1.0.3
certifi==2023.7.22
cffi==1.14.4
chardet==4.0.0
click==8.1.6
constantly==15.1.0
cryptography==41.0.4
cssselect==1.2.0
cycler==0.11.0
flask==2.2.5
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.4
itsdangerous==2.1.2
jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.1 ; platform_python_implementation == 'CPython'
markupsafe==2.1.3
matplotlib==3.3.4
nltk==3.8.1
numpy==1.22.0
oauthlib==3.2.2
parsel==1.8.1
pillow==10.0.1
protego==0.1.16
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybase64==1.1.4
pycparser==2.21
pydispatcher==2.0.5
pyhamcrest==2.0.4
pyopenssl==23.2.0
pyparsing==3.0.9
pysocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.21.0
queuelib==1.6.2
regex==2023.8.8
requests-oauthlib==1.3.1
requests[socks]==2.31.0
scrapy==2.7.1
service-identity==21.1.0
six==1.16.0
textblob==0.15.3
tqdm==4.65.0
tweepy==4.14.0
twisted==23.10.0rc1
urllib3==1.26.18
w3lib==2.1.1
werkzeug==3.0.1
wordcloud==1.8.1
zope.interface==6.0
