html, body {
    background-color: #333333;
    color: #e2e2e2;
}
h1, h2, h3, h4, h5, h5 {
    color: #f4f4f4;
}
img {
    filter: grayscale( 20% );
}
hr {
    border-color: #555555;
}
p code {
    color: #333333;
}

footer.footer {
    color: #333333;
    background-color: #8d8d8dc7;
}

.title {
    color: #e2e2e2;
}
